@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Smooch+Sans:wght@300;600;700;900&display=swap');

html {
    height: 100%;
    max-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
    background-color: #16385a;
}

.footer {
    grid-area: footer;
    background-color: #16385a;
}


/*---------------------------------*/
/*             DESKTOP             */
/*---------------------------------*/
.navbar-expand-lg {
    max-width: 1220px;
    margin: auto;
}

/*--------*/
/* HEADER */
/*--------*/

.navbar-brand img {
    height: 52px;
    width: 114px;
}

.nav-item {
    display: inline-block;
    position: relative;
    padding: 0px;
}

.nav-item a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Hubballi', cursive;
    color: #FFFFFF;
}

.nav-user-menu {
    display: flex !important;
    flex-direction: row !important;
}

.nav-user__list {
    display: inline;
    padding-right: 10px;
    margin: 0;
}

.nav-user__list li {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding: 10px 10px;
}

.nav-user__list li a {
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    color: #FFFFFF;
}


/*---------------*/
/* CONTENT INDEX */
/*---------------*/

.content_container {
    position: relative;
    flex-direction: row;
    max-width: 1220px;
    background-color: #EDEDED;
    margin: 0 auto;
    padding-top: 20px;

}

.index-slider {
    position: relative;
    max-width: 1220px;
    margin: 10px auto;
    padding: 20px 0 20px 0;
    background-color: #EDEDED;
}

.index-slider {
    display: block;
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .5em 1em;
}

.menu label:hover {
    background: #FFAD66;
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 1);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.slide-1 {
    background-image: url("../img/index_slider/img_001.jpg");
}

.slide-2 {
    background-image: url("../img/index_slider/img_002.jpg");
}

.slide-3 {
    background-image: url("../img/index_slider/img_003.jpg");
}

.content_title {
    display: inline-block;
    width: 100%;
    align-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
    font-weight: 500;
    background-color: #E7E6E6;
}

.content_title p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
    position: relative;
    text-align: center;
}

div.publicaciones-nuevas {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
    background-color: #E7E6E6;
}

.publicaciones-nuevas ul {
    display: inline-block;
}

.publicacion__item {
    left: 2.5%;
    transition: transform .5s;
}

.publicacion__item:hover {
    transform: scale(1.1);
}

ul.publicacion {
    width: auto;
    padding: 0;
    margin: auto;
}

.publicacion li {
    display: inline-block;
    position: relative;
    margin: 20px 20px;
}

.publicacion li a {
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    color: #000000;
}

.publicacion__item .fa-heart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 10px 0 0;
    color: #ff0202;
    z-index: 100;
}

.publicacion__item img {
    display: block;
    width: 150px;
    height: 195px;
}

.publicacion__item p {
    display: block;
    width: 150px;
    text-align: left;
    padding-top: 3px;
}

/*-------------------*/
/* CONTENT SERVICIOS */
/*-------------------*/
.content_container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgb(231, 230, 230);
    align-content: center;
}

.servicios_content_title {
    display: inline-block;
    width: 100%;
    align-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
}

.servicios_content_title p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
    position: relative;
    text-align: center;
}

.servicios_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
}

.servicios_search__bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 75%;
    margin-right: 5px;
}

.servicios_search__bar input {
    width: 100%;
    margin-right: 10px;
}

.servicios_search__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 10px;
}

.servicios_search__filter a {
    text-decoration: none;
    color: #000000;
}

.servicios_search__bar input {
    margin-right: 10px;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.servicios_search__bar button {
    background-color: #c5c7c5;
    color: rgb(0, 0, 0);
    padding: 2px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.servicios_list {
    margin: 20px 20px 0 20px;
}

.servicios_list li {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.servicios_list__item__url {
    display: inline-block;
    position: relative;
    left: 0;
    margin-right: 10px;
    padding-bottom: 20px;
}

.servicios_list__item__url img {
    width: 150px;
    height: 200px;
}

.servicios_list__item___description {
    display: inline-block;
    position: absolute;
    right: auto;
    margin-left: 20px;
    padding: 10px 0 20px 0;
}

.servicios_list__item___description__title {
    font-family: 'Hubballi', cursive;
    font-weight: 500;
    font-size: 24px;
}

.servicios_list__item___description p {
    display: block;
    font-family: 'Hubballi', cursive;
    padding-bottom: 10px;
}


/*-------------------*/
/* CONTENT PRODUCTOS */
/*-------------------*/
.productos-container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgb(231, 230, 230);
    align-content: center;
}

.productos_content_title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
}

.productos_content_title p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
    position: relative;
    text-align: center;
    font-weight: 700;
}

.productos_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
}

.productos_search__bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 75%;
    margin-right: 5px;
}

.productos_search__bar input {
    margin-right: 10px;
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.productos_search__bar button {
    background-color: #c5c7c5;
    color: rgb(0, 0, 0);
    padding: 2px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.productos_search__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 10px;
}

.productos_search__filter a {
    text-decoration: none;
    color: #000000;
}

.productos {
    margin: 0 auto;
}

.productos ul {
    display: inline-block;
}

.producto-list {
    left: 2.5%;
}

.productos li {
    display: inline-block;
    position: relative;
    margin: 20px 20px;
}

.productos li a {
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    color: #000000;
}

.producto-item__description__title {
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

.productos .producto-item__precio {
    position: absolute;
    bottom: 30%;
    right: 0;
    padding: 20px 10px 0 0;
    color: #ff0202;
    text-decoration: none;
    font-family: 'Hubballi', cursive;
    font-size: 18px;
    font-weight: 700;
    z-index: 100;
}

.producto-list img {
    display: block;
    width: 150px;
    height: 200px;
}

.producto-item__description {
    display: block;
    width: 150px;
    text-align: left;
    padding-top: 3px;
}

/*-------------*/
/* CONTENT FAQ */
/*-------------*/
.faq_container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgb(231, 230, 230);
    align-content: center;
}

.faq_container_content_title {
    display: inline-block;
    width: 100%;
    align-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;

}

.faq_container_content_title p {
    font-family: 'Hubballi', cursive;
    font-size: 28px;
    position: relative;
    text-align: center;
    font-weight: 700;
}

.faq_container_content {
    display: grid;
    grid-auto-rows: auto;
    place-items: center;
    align-items: baseline;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px 0px;
}

.faq_container_preguntas__list_servicios {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Hubballi', cursive;
}

.faq_container_preguntas__list_productos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Hubballi', cursive;
}

.faq_container_preguntas__list_cuentas_configuracion {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Hubballi', cursive;
}

#faqs_section_servicio,
#faqs_section_producto,
#faqs_section_cta_conf {
    font-family: 'Hubballi', cursive;
    font-size: 24px;
    font-weight: 600;
}

.faq_container_preguntas__items {
    display: flex;
    justify-content: center;
    font-family: 'Hubballi', cursive;
    list-style-type: none;
    margin: 0 10px 10px 10px;
    border-bottom: #FFAD66 1px solid;
}

.faq_container_preguntas__items a {
    text-decoration: none;
    color: #575757;
}


/*------------------*/
/* CONTENT CONTACTO */
/*------------------*/
.contact_container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgb(231, 230, 230);
    align-content: center;
}

h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Hubballi', cursive;
}

article {
    border-radius: 5px;
    background-color: rgb(231, 230, 230);
    padding: 20px;
}

.contact_form input[type=text],
.contact_form input[type=email],
.contact_form input[type=number],
.contact_form select,
.contact_form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact_form textarea {
    resize: none;
    height: 250px;
}

.contact_form input[type=submit] {
    width: 100%;
    background-color: #9ff3a2;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_form input[type=reset] {
    width: 100%;
    background-color: #fa9595;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact_form input[type=reset]:hover {
    background-color: #ad3a3a;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.contact_form input[type=submit]:hover {
    background-color: #2a8b2f;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


/*--------*/
/* FOOTER */
/*--------*/

.container-fluid.p-4 {
    max-width: 1220px;
    margin: auto;
}
