@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Smooch+Sans:wght@300;600;700;900&display=swap');

@import "_variables";

@import "_mixins";
@import "_cards";

html {
    height: 100%;
    max-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Hubballi';
}

body {
    display: grid;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header" "content" "footer";
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
    background-color: $default_blue_site;
}

.footer {
    grid-area: footer;
    background-color: $default_blue_site;
}


.navbar-expand-lg {
    max-width: 1220px;
    margin: auto;
}