.productos-container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    background-color: rgb(231, 230, 230);
    align-content: center;
}

.productos_content_title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    font-weight: 700;

    p {
        font-size: 28px;
        position: relative;
        text-align: center;
        font-weight: 700;
    }
}

.productos_search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 0;
}

.productos_search__bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    width: 75%;
    margin-right: 5px;

    input {
        margin-right: 10px;
        width: 100%;
        padding: 5px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #c5c7c5;
        color: rgb(0, 0, 0);
        padding: 2px 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: $default_blue_site;
            color: #FFFFFF;
        }
    }
}

.productos_search__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-left: 10px;

    a {
        text-decoration: none;
        color: #000000;

        &:hover {
            color: $default_blue_site;
            font-weight: bold;
        }
    }
}

.productos {
    margin: 0 auto;

    ul {
        display: inline-block;
        padding: 0;
    }
}

.producto-list {
    left: 2.5%;
}

.productos li {
    display: inline-block;
    position: relative;
    margin: 20px 20px;

    a {
        text-decoration: none;
        color: #000000;
    }
}