$default_blue_site: #16385a;
$default_orange_site: #FFAD66;

// Propiedades animacion favorito en cards
$keyframe_fav_btn_scale_zoom_out: scale(0.9);
$keyframe_fav_btn_scale_zoom_in: scale(1);
$keyframe_fav_btn_shadow: 0 0 0 50px rgba(90, 153, 212, 0);